<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majidhajian.ffi.native_libraries_in_flutter_using_dart_ffi">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
